{% extends 'base.html' %}
{% block title %}
Ankieta dotycząca stresu
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white" style="color:#100527" >
   <img src="https://img.freepik.com/free-vector/thank-you-concept-illustration_114360-13427.jpg?w=996&t=st=1680031077~exp=1680031677~hmac=17281e8c25ee966dcc8b48b0a297eaeecec826eea8d12a0f220eca88215f43bf" height="400" width="550" class="rounded float-left" />
   <div class="col-md-6 p-lg-5 mx-auto my-5"  >
      <h1 class="display-4 font-weight-normal">Dziękujemy za udział w ankiecie!</h1>
      <p class="lead font-weight-normal">Życzymy miłego dnia. 
      </p>      
         </svg>
      </a>
   </div>
   <div class="product-device box-shadow d-none d-md-block"></div>
   <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white" style="color:#100527">
    <hr>
<footer>Copyright &copy; 2023 Aleksandra Krajna & Martyna Lubowiecka </footer>    
  </div>  
</div> 
{% endblock %}